@model IEnumerable<App.DAL.Models.TblGalleryPhoto>

@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<head>

    <script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
</head>
<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">Gallery</h2>
                        <p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>Gallery</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="post-loop-grid">
            <div class="container">
                <div class="text-center">
                    <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
                    <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">
                        Marine Hive Ltd is a seafarere's recruitment company that offers a comprehensive range
                        of high quality marine services.It applies maritime expertise to ensure a safe and efficient
                        operation for the shipping sector and steps ahead in providing energy to the shipping world.
                    </p>
                </div>
                <div class="row mt-70">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Image)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Flag)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsDelete)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Details)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdatedDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdatedBy)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Image)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Flag)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsDelete)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Details)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>




                    <!-- Carousel wrapper -->
                    <div id="carouselMultiItemExample"
                         class="carousel slide carousel-dark text-center"
                         data-mdb-ride="carousel">
                        <!-- Controls -->
                        <div class="d-flex justify-content-center mb-4">
                            <button class="carousel-control-prev position-relative"
                                    type="button"
                                    data-mdb-target="#carouselMultiItemExample"
                                    data-mdb-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next position-relative"
                                    type="button"
                                    data-mdb-target="#carouselMultiItemExample"
                                    data-mdb-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!-- Inner -->
                        <div class="carousel-inner py-4">
                            <!-- Single item -->
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp"
                                                     class="card-img-top"
                                                     alt="Waterfall" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 d-none d-lg-block">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp"
                                                     class="card-img-top"
                                                     alt="Sunset Over the Sea" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 d-none d-lg-block">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/183.webp"
                                                     class="card-img-top"
                                                     alt="Sunset over the Sea" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single item -->
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
                                                     class="card-img-top"
                                                     alt="Fissure in Sandstone" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 d-none d-lg-block">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp"
                                                     class="card-img-top"
                                                     alt="Storm Clouds" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 d-none d-lg-block">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/186.webp"
                                                     class="card-img-top"
                                                     alt="Hot Air Balloons" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Single item -->
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/187.webp"
                                                     class="card-img-top"
                                                     alt="Peaks Against the Starry Sky" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/188.webp"
                                                     class="card-img-top"
                                                     alt="Bridge Over Water" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/189.webp"
                                                     class="card-img-top"
                                                     alt="Purbeck Heritage Coast" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single item -->
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/187.webp"
                                                     class="card-img-top"
                                                     alt="Peaks Against the Starry Sky" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/188.webp"
                                                     class="card-img-top"
                                                     alt="Bridge Over Water" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                                            <div class="card">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/189.webp"
                                                     class="card-img-top"
                                                     alt="Purbeck Heritage Coast" />
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">
                                                        Some quick example text to build on the card title and make up the bulk
                                                        of the card's content.
                                                    </p>
                                                    <a href="#!" class="btn btn-primary">Button</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Inner -->
                    </div>
                    <!-- Carousel wrapper -->


                </div>
            </div>
        </div>
    </section>

    <section class="section-box mt-50">
        <!-- Carousel wrapper -->
        <div id="carouselVideoExample"
             class="carousel slide carousel-fade"
             data-mdb-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button"
                        data-mdb-target="#carouselVideoExample"
                        data-mdb-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"></button>
                <button type="button"
                        data-mdb-target="#carouselVideoExample"
                        data-mdb-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button"
                        data-mdb-target="#carouselVideoExample"
                        data-mdb-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>

            <!-- Inner -->
            <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                    <video class="img-fluid" autoplay loop muted>
                        <source src="https://mdbcdn.b-cdn.net/img/video/Tropical.mp4" type="video/mp4" />
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>
                            Nulla vitae elit libero, a pharetra augue mollis interdum.
                        </p>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <video class="img-fluid" autoplay loop muted>
                        <source src="https://mdbcdn.b-cdn.net/img/video/forest.mp4" type="video/mp4" />
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <video class="img-fluid" autoplay loop muted>
                        <source src="https://mdbcdn.b-cdn.net/img/video/Agua-natural.mp4"
                                type="video/mp4" />
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>
                            Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Inner -->
            <!-- Controls -->
            <button class="carousel-control-prev"
                    type="button"
                    data-mdb-target="#carouselVideoExample"
                    data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-mdb-target="#carouselVideoExample"
                    data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel wrapper -->
    </section>

    <section class="section-box mt-50">
        <!-- Carousel wrapper -->
        <div id="carouselVideoExample"
             class="carousel slide carousel-fade"
             data-mdb-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button"
                        data-mdb-target="#carouselVideoExample"
                        data-mdb-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"></button>
                <button type="button"
                        data-mdb-target="#carouselVideoExample"
                        data-mdb-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button"
                        data-mdb-target="#carouselVideoExample"
                        data-mdb-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>

            <!-- Inner -->
            <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                    <video class="img-fluid" autoplay loop muted>
                        <source src="https://mdbcdn.b-cdn.net/img/video/Tropical.mp4" type="video/mp4" />
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>
                            Nulla vitae elit libero, a pharetra augue mollis interdum.
                        </p>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <video class="img-fluid" autoplay loop muted>
                        <source src="https://mdbcdn.b-cdn.net/img/video/forest.mp4" type="video/mp4" />
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <video class="img-fluid" autoplay loop muted>
                        <source src="https://mdbcdn.b-cdn.net/img/video/Agua-natural.mp4"
                                type="video/mp4" />
                    </video>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>
                            Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Inner -->
            <!-- Controls -->
            <button class="carousel-control-prev"
                    type="button"
                    data-mdb-target="#carouselVideoExample"
                    data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-mdb-target="#carouselVideoExample"
                    data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel wrapper -->
    </section>

    <section class="section-box mt-50 mb-50">
        <div class="container">
            <div class="text-start">
                <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">News and Blog</h2>
                <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Get the latest news, updates and tips</p>
            </div>
        </div>
        <div class="container" style="width:70%">
            <div class="mt-50">
                <div class="box-swiper style-nav-top">
                    <div class="swiper-container swiper-group-3 swiper">
                        <div class="swiper-wrapper pb-70 pt-5">


                            <div class="swiper-slide">
                                <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                    <div class="text-center card-grid-3-image">
                                        <a href="#">
                                            <figure><img alt="jobBox" height="300px" width="80px" src="~/images/no-image.jpg"></figure>
                                        </a>
                                    </div>
                                    <div class="card-block-info">
                                        <div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">News</a></div>
                                        <h5><a href="blog-details.html">21 Job Interview Tips: How To Make a Great Impression</a></h5>
                                        <p class="mt-10 color-text-paragraph font-sm">Our mission is to create the world&amp;rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.</p>
                                        <div class="card-2-bottom mt-20">
                                            <div class="row">
                                                <div class="col-lg-6 col-6">
                                                    <div class="d-flex">
                                                        <img class="img-rounded" src="assets/imgs/page/homepage1/user1.png" alt="jobBox">
                                                        <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Sarah Harding</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">8 mins to read</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">

                                    <div class="card-block-info">
                                        <h5><a href="blog-details.html">39 Strengths and Weaknesses To Discuss in a Job Interview</a></h5>
                                        <div class="card-2-bottom mt-20">
                                            <div class="row">
                                                <div class="col-lg-6 col-6">
                                                    <div class="d-flex">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center card-grid-3-image">
                                        <a href="#">
                                            <figure><img alt="jobBox" src="~/images/img-about.jpg"></figure>
                                        </a>
                                    </div>
                                    <div class="card-block-info">
                                        <div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">Events</a></div>
                                        <h5><a href="blog-details.html">39 Strengths and Weaknesses To Discuss in a Job Interview</a></h5>
                                        <p class="mt-10 color-text-paragraph font-sm">Our mission is to create the world&amp;rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.</p>
                                        <div class="card-2-bottom mt-20">
                                            <div class="row">
                                                <div class="col-lg-6 col-6">
                                                    <div class="d-flex">
                                                        <img class="img-rounded" src="assets/imgs/page/homepage1/user2.png" alt="jobBox">
                                                        <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Steven Jobs</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">6 mins to read</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="breacrumb-cover">
                                    <div class="container">
                                    <div class="row">
                                    <div class="text-center card-grid-3-image">
                                    <a href="#">
                                    <figure><img alt="jobBox" src="~/images/img-about.jpg"></figure>
                                    </a>
                                    </div>
                                    <div class="col-lg-6">
                                    <h1 class="mb-10" style="color:red">Western Maritime Academy</h1>
                                    <p class="font-lg color-text-paragraph-2" style="color:darkblue">One stop solution to all your needs</p>
                                    </div>
                                    <div class="col-lg-6 text-lg-end">
                                    <h5 class="font-lg color-text-paragraph-2" style="color:black">Our partner Organization</h5>
                                    </div>
                                    </div>
                                    </div>
                                    </div>*@
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                    <div class="text-center card-grid-3-image">
                                        <a href="#">
                                            <figure><img alt="jobBox" src="assets/imgs/page/homepage1/img-news3.png"></figure>
                                        </a>
                                    </div>
                                    <div class="card-block-info">
                                        <div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">News</a></div>
                                        <h5><a href="blog-details.html">Interview Question: Why Dont You Have a Degree?</a></h5>
                                        <p class="mt-10 color-text-paragraph font-sm">Learn how to respond if an interviewer asks you why you dont have a degree, and read example answers that can help you craft</p>
                                        <div class="card-2-bottom mt-20">
                                            <div class="row">
                                                <div class="col-lg-6 col-6">
                                                    <div class="d-flex">
                                                        <img class="img-rounded" src="assets/imgs/page/homepage1/user3.png" alt="jobBox">
                                                        <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Wiliam Kend</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">9 mins to read</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                @*<div class="text-center"><a class="btn btn-brand-1 btn-icon-load mt--30 hover-up" href="blog-grid.html">Load More Posts</a></div>*@
            </div>
        </div>
    </section>


    <section class="section-box mt-50 mb-50">
        <div class="container">
            <button class="carousel-control-prev position-relative"
                    type="button"
                    data-mdb-target="#carouselMultiItemExample"
                    data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next position-relative"
                    type="button"
                    data-mdb-target="#carouselMultiItemExample"
                    data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="text-start">
                <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">News and Blog</h2>
                <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Get the latest news, updates and tips</p>
            </div>
        </div>
        <div class="container" style="width:70%">
            <div class="mt-50">
                <div class="box-swiper style-nav-top">

                    <div class="swiper-container swiper-group-3 swiper">
                       
                        <div class="swiper-wrapper pb-70 pt-5">
                            
                            <div class="swiper-slide">
                                <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                    <div class="carousel-inner py-4">
                                        <!-- Single item -->
                                        <div class="carousel-item active">
                                            <div class="container">

                                                <div class="card">
                                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp"
                                                         class="card-img-top"
                                                         alt="Waterfall" />
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">
                                                            Some quick example text to build on the card title and make up the bulk
                                                            of the card's content.
                                                        </p>
                                                        @*<a href="#!" class="btn btn-primary">Button</a>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="swiper-slide">
                                <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                    <div class="carousel-inner py-4">
                                        <!-- Single item -->
                                        <div class="carousel-item active">
                                            <div class="container">

                                                <div class="card">
                                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp"
                                                         class="card-img-top"
                                                         alt="Waterfall" />
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">
                                                            Some quick example text to build on the card title and make up the bulk
                                                            of the card's content.
                                                        </p>
                                                        <a href="#!" class="btn btn-primary">Button</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="swiper-slide">
                                <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                    <div class="carousel-inner py-4">
                                        <!-- Single item -->
                                        <div class="carousel-item active">
                                            <div class="container">

                                                <div class="card">
                                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/181.webp"
                                                         class="card-img-top"
                                                         alt="Waterfall" />
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">
                                                            Some quick example text to build on the card title and make up the bulk
                                                            of the card's content.
                                                        </p>
                                                        <a href="#!" class="btn btn-primary">Button</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                @*<div class="text-center"><a class="btn btn-brand-1 btn-icon-load mt--30 hover-up" href="blog-grid.html">Load More Posts</a></div>*@
            </div>
        </div>
    </section>

</main>





