@model IEnumerable<App.DAL.Models.TblGalleryPhoto>

@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<head>
    @*  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>*@

    <script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
</head>
<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">Gallery</h2>
                        <p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>Gallery</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="post-loop-grid">
            <div class="container">
                <div class="text-center">
                    <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
                    <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">
                        Marine Hive Ltd is a seafarere's recruitment company that offers a comprehensive range
                        of high quality marine services.It applies maritime expertise to ensure a safe and efficient
                        operation for the shipping sector and steps ahead in providing energy to the shipping world.
                    </p>
                </div>

            </div>
        </div>
    </section>

    <section class="section-box mt-50 mb-50">
        <div class="container">
            <div class="text-start">
                <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Certificates & Awards</h2>
                <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">we have achieved many awards in our journey </p>
            </div>
        </div>
        <div class="container" style="width:70%">
            <div class="mt-50">
                <div class="box-swiper style-nav-top">
                    <div class="swiper-container swiper-group-3 swiper">
                        <div class="swiper-wrapper pb-70 pt-5">
                            @foreach (var item in Model)
                            {
                                if (item.Flag == "Certificate")
                                {
                                    <div class="swiper-slide">
                                        <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                            <div class="text-center card-grid-3-image">
                                                <a>
                                                    <figure><img alt="jobBox" height="400" width="80" src="@item.Image"></figure>
                                                </a>
                                            </div>
                                            <div class="card-block-info">
                                                <h5><a align="justify">@item.Name</a></h5>
                                                <p align="justify" class="mt-10 color-text-paragraph font-sm">@item.Details</p>

                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                @*<div class="text-center"><a class="btn btn-brand-1 btn-icon-load mt--30 hover-up" href="blog-grid.html">Load More Posts</a></div>*@
            </div>
        </div>
    </section>

    <section class="section-box mt-10 mb-40">
        <div class="container">
            <h2 class="text-center mb-15 wow animate__animated animate__fadeInUp">Some of our moments</h2>
            <div class="font-lg color-text-paragraph-2 text-center wow animate__animated animate__fadeInUp">Some text here<br class="d-none d-lg-block">added text</div>
            <div class="row mt-50">
                <div class="box-swiper">
                    <div class="swiper-container swiper-group-3 swiper">
                        <div class="swiper-wrapper pb-70 pt-5">
                            @foreach (var item in Model)
                            {
                                if (item.Flag != "Certificate")
                                {
                                    <div class="swiper-slide">
                                        <div class="card-grid-6 hover-up">
                                            <div class="card-text-desc mt-10">
                                                <p align="justify" class="font-md color-text-paragraph"> @item.Details</p>
                                            </div>
                                            <div class="card-image">
                                                <div class="text-center card-grid-3-image">
                                                    <figure>
                                                        @*<img alt="jobBox" src="~/images/img-about.jpg">*@
                                                        <img alt="jobBox"  src="@item.Image">
                                                    </figure>
                                                </div>

                                            </div>
                                            <div class="card-profile">
                                                <h6 align="justify">@item.Name</h6>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            @*<div class="swiper-slide">
                            <div class="card-grid-6 hover-up">
                            <div class="card-text-desc mt-10">
                            <p class="font-md color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.</p>
                            </div>
                            <div class="card-image">
                            <div class="image">
                            <figure><img alt="jobBox" src="assets/imgs/page/about/user2.png"></figure>
                            </div>
                            <div class="card-profile">
                            <h6>Mark Adair</h6><span>Businessmen</span>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="swiper-slide">
                            <div class="card-grid-6 hover-up">
                            <div class="card-text-desc mt-10">
                            <p class="font-md color-text-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.</p>
                            </div>
                            <div class="card-image">
                            <div class="image">
                            <figure><img alt="jobBox" src="assets/imgs/page/about/user3.png"></figure>
                            </div>
                            <div class="card-profile">
                            <h6>Mark Adair</h6><span>Businessmen</span>
                            </div>
                            </div>
                            </div>
                            </div>*@
                        </div>
                        <div class="swiper-pagination swiper-pagination3"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="section-box mt-50 mb-50">
        <div class="container">
            <div class="text-center">
                <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">News and Blog</h2>
                <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Get the latest news, updates and tips</p>
            </div>
        </div>
        <div class="container">
            <div class="mt-50">
                <div class="box-swiper style-nav-top">
                    <div class="swiper-container swiper-group-3 swiper">
                        <div class="swiper-wrapper pb-70 pt-5">
                            @foreach (var item in Model)
                            {
                                <div class="swiper-slide">
                                    <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                        <div class="text-center card-grid-3-image">
                                            <a>
                                                <figure><img alt="jobBox" height="300" width="100" src="@item.Image"></figure>
                                            </a>
                                        </div>
                                        <div class="card-block-info">
                                            @*<div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">News</a></div>*@
                                            <h5><a align="justify">@item.Name</a></h5>
                                            <p align="justify" class="mt-10 color-text-paragraph font-sm">@item.Details</p>

                                        </div>
                                    </div>
                                </div>


                            }
                            @*<div class="swiper-slide">
                            <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                            <div class="text-center card-grid-3-image"><a href="#">
                            <figure><img alt="jobBox" src="assets/imgs/page/homepage1/img-news2.png"></figure></a></div>
                            <div class="card-block-info">
                            <div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">Events</a></div>
                            <h5><a href="blog-details.html">39 Strengths and Weaknesses To Discuss in a Job Interview</a></h5>
                            <p class="mt-10 color-text-paragraph font-sm">Our mission is to create the world&amp;rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.</p>
                            <div class="card-2-bottom mt-20">
                            <div class="row">
                            <div class="col-lg-6 col-6">
                            <div class="d-flex"><img class="img-rounded" src="assets/imgs/page/homepage1/user2.png" alt="jobBox">
                            <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Steven Jobs</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                            </div>
                            </div>
                            <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">6 mins to read</span></div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="swiper-slide">
                            <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                            <div class="text-center card-grid-3-image"><a href="#">
                            <figure><img alt="jobBox" src="assets/imgs/page/homepage1/img-news3.png"></figure></a></div>
                            <div class="card-block-info">
                            <div class="tags mb-15"><a class="btn btn-tag" href="blog-grid.html">News</a></div>
                            <h5><a href="blog-details.html">Interview Question: Why Dont You Have a Degree?</a></h5>
                            <p class="mt-10 color-text-paragraph font-sm">Learn how to respond if an interviewer asks you why you dont have a degree, and read example answers that can help you craft</p>
                            <div class="card-2-bottom mt-20">
                            <div class="row">
                            <div class="col-lg-6 col-6">
                            <div class="d-flex"><img class="img-rounded" src="assets/imgs/page/homepage1/user3.png" alt="jobBox">
                            <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Wiliam Kend</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                            </div>
                            </div>
                            <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">9 mins to read</span></div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                @*<div class="text-center"><a class="btn btn-brand-1 btn-icon-load mt--30 hover-up" href="blog-grid.html">Load More Posts</a></div>*@
            </div>
        </div>
    </section>






</main>





