@model IEnumerable<App.DAL.Models.TblGalleryPhoto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/Gallery/GalleryPhotoIndex.js"></script>
}





    @*<table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Image)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Flag)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.IsDelete)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Details)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.CreatedDate)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.CreatedBy)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.UpdatedDate)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.UpdatedBy)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Image)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Flag)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.IsDelete)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Details)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.CreatedDate)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.CreatedBy)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.UpdatedDate)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.UpdatedBy)
    </td>
    <td>
    <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.ImageId">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
    </td>
    </tr>
    }
    </tbody>
    </table>*@




    <div class="box-content">

        <div class="box-heading">
            <div class="box-title">
                <h3 class="mb-35">Gallery Photos</h3>
            </div>
            <div class="box-breadcrumb">
                <a class="btn btn-default" asp-controller="Gallery" asp-action="CreateGalleryPhoto">Add Photo</a>
            </div>
        </div>

        <div class="row">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="col-xl-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="box-padding">
                                            <div class="row display-list">
                                                <table id="photoList" class="display">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                ID
                                                            </th>
                                                            <th>
                                                                Name
                                                            </th>
                                                            <th>
                                                                Details
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> 1</td>
                                                            <td>  badhon</td>
                                                            <td> details value</td>
                                                        </tr>
                                                        <tr>
                                                            <td> 2</td>
                                                            <td> fahim</td>
                                                            <td> details value</td>
                                                        </tr>
                                                        <tr>
                                                            <td> 3</td>
                                                            <td> saad</td>
                                                            <td> details value</td>
                                                        </tr>
                                                        <tr>
                                                            <td> 4</td>
                                                            <td> james</td>
                                                            <td> details value</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </td>
                    </tr>
                
            </tbody>
        </table>
    </div>
</div>





